body {
margin:0;
padding:0;
font-family:verdana, arial, sans-serif;
font-size:80%;
color:#666;
text-align:center;
background-color:#DDD;
}

p {
margin:.2em 0 1.2em;
padding:.3em;
text-align: justify;
}

h1 {
padding:5px;
margin:0;
font-size:250%;
font-weight:400;
font-style:italic;
color:#5F8730;
font-family:"Trebuchet MS", verdana, arial, sans-serif;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
text-shadow: 1px 1px 2px #5F8730;
}

h2 {
background-color:#B7C9A3;
color:#5F8730;
font-size:150%;
font-weight:400;
margin:.2em;
padding:5px;
font-style:italic;
font-family:"Trebuchet MS", verdana, arial, sans-serif;
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
}

div {
margin:0;
padding:0;
display:block;
}

a:link,a:visited {
color:#658E33;
text-decoration:underline;
}

a:hover {
color:#658E33;
text-decoration:none;
}

a:active {
color:#658E33;
text-decoration:underline;
}

.container {
background-color:#FFF;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
-webkit-box-shadow: 0 0 15px 0 #999999;
box-shadow: 0 0 15px 0 #999999;
margin:0 auto;
padding:0;
width:65%;
min-width: 1300px;
margin-top:10px;
}

.titleblock {
padding:1.50em;
margin:0;
text-align:left;
background-image:url(img/leaf.jpg);
background-repeat:no-repeat;
background-position:right center;
-webkit-border-radius:0 10px 0 0;
border-radius:0 10px 0 0;
}

.titleblock p {
font-size: 25px;
font-family: "Felipa", cursive;
text-indent:2em;
color:#5F8730;
}

ul.navbar {
list-style-type:none;
float:left;
display:block;
width:100%;
line-height:1.5em;
clear:both;
margin:0;
padding:0;
background-color:#157A37;
}

ul.navbar li {
display:inline;
}

a.nav:link,a.nav:visited {
display:block;
float:left;
width:16%;
padding:1.2em 0;
margin:0;
text-decoration:none;
background-color:#157A37;
color:#FFF;
text-shadow: 1px 1px 2px #000000;
}

a.nav:hover {
display:block;
float:left;
width:16%;
padding:1.2em 0;
margin:0;
text-decoration:none;
background-color:#53A666;
color:#FFF;
text-shadow: 1px 1px 2px #000000;
}

a.nav:active {
display:block;
float:left;
width:16%;
padding:1.2em 0;
margin:0;
text-decoration:none;
background-color:#B7C9A3;
color:#FFF;
}

.rightcontainer {
float:right;
clear:both;
width:60em;
margin:1em 0 0;
padding:0;
}

.rightbox {
margin:.5em;
padding:.3em;
border:1px solid #999;
text-align:center;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
}

.rightcontainer h2 {
-webkit-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
text-align:left;
padding:2px 0 2px .5em;
}

.linkbox a {
display:block;
}

.content {
clear:left;
text-align:left;
margin:1.2em 60em 0 0;
padding:1em 1ex 1em 1.5ex;
}

.content-inner {
clear:left;
text-align:left;
margin:1.2em 0 0 0;
padding:1em 1ex 1em 1.5ex;
}

.content h2 {
}

.alt {
background: #B7C9A3;
border: solid 1px #0F7C39;
}

.footer {
color:#999;
font-size:75%;
margin:2.5em .2em .5em .5em;
padding:.8em;
border-top:1px solid #999;
text-align:left;
clear:both;
}

.footer .right {
float:right;
clear:right;
text-align:right;
}

.footer p {
margin:0;
}